<ion-header>
  <ion-toolbar>
    <ion-title>Bienvenido!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Aplicación para referencias bibliográficas</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Maneje sus referencias bibliográficas
      <ion-row>
        <ion-col>
          <ion-button routerLink="/login" expand="block">Iniciar sesión</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button routerLink="/register" expand="block">Crear una cuenta</ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

</ion-content>
